<h1>Places I've Visited</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
  <% end %>
</ul>

<a href="/places/new">Add a New Place</a>
